<head>
    <title>Blog motor</title>

    <link rel="stylesheet" href="View/Style/style.css">

    <!--link href="vendor/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="vendor/components/jquery/jquery.min.js"></script>

    <link href='vendor/froala/wysiwyg-editor/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
    <link href='vendor/froala/wysiwyg-editor/css/froala_style.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='vendor/froala/wysiwyg-editor/js/froala_editor.pkgd.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

    <script>
      $(function() {
        $('textarea#wysiwyg').froalaEditor({
          toolbarButtons: ['undo', 'redo', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'help', '|']
        });
      });
    </script-->

</head>
<body>
